<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <input placeholder="姓名" v-model="name" type="text">
            <input placeholder="年龄" v-model="age" type="text">
            <input placeholder="邮箱" v-model="email" type="text">
            <input placeholder="电话号码" v-model="tel" type="text">
        </div>
        <div>
            <p>姓名：<span>{{ name }}</span></p>
            <p>年龄：<span>{{ age }}</span></p>
            <p>邮箱：<span>{{ email }}</span></p>
            <p>
                <p>电话:
                    <span>{{ tel }}</span></p>
            </p>
        </div>
    </div>
    <script src="index.js">
    </script>
    <script>
        const app = new MVVM('#app', {
            name: '',
            age: '',
            email: '',
            tel: ''
        })
    </script>
</body>

</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='./index.js'></script>
</head>

<body>

</body>

</html>